@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    @apply bg-background text-base-text;
    -webkit-font-smoothing: antialiased;
  }

  div,
  aside,
  section {
    @apply text-base-text text-text-m font-roboto;
  }

  h1 {
    @apply text-base-title font-extrabold font-baloo text-title-xl;
  }
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-base-subtitle text-text-l font-baloo;
  }

  button {
    @apply border-none cursor-pointer;
  }

  @keyframes colorCycle {
    0% {
      @apply text-purple;
    }
    50% {
      @apply text-purple-light;
    }
    100% {
      @apply text-purple-dark;
    }
  }

  .animate-color-cycle {
    animation: colorCycle 2s linear infinite;
  }
}
